name: helmtest CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout VCS
        uses: actions/checkout@v2

      - name: Prepare environment
        run: |
          go_version=$(cat EXPECTED_GO_VERSION)
          echo "GO_VERSION=$go_version" >> $GITHUB_ENV
          echo "CI=true" >> $GITHUB_ENV

      - name: Setup GO
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test
        run: make test

      - name: Lint
        run: make golangci-lint